### DEVICES
devices/env/lib
devices/CODE-teensy

### ORCHESTER
orchester/env/

### TOTO
toto/totoCam
toto/env/

### APP
# dependencies
app/hejtoto.com/node_modules
app/hejtoto.com/.pnp
app/hejtoto.com/.pnp.js
app/hejtoto.com/yarn.lock

# testing
app/hejtoto.com/coverage

# next.js
app/hejtoto.com/.next/
app/hejtoto.com/out/

# production
app/hejtoto.com/build

# misc
app/hejtoto.com/.DS_Store
app/hejtoto.com/*.pem

# debug
app/hejtoto.com/npm-debug.log*
app/hejtoto.com/yarn-debug.log*
app/hejtoto.com/yarn-error.log*

# local env files
app/hejtoto.com/.env.local
app/hejtoto.com/.env.development.local
app/hejtoto.com/.env.test.local
app/hejtoto.com/.env.production.local

# vercel
app/hejtoto.com/.vercel

# package-lock
#kiosk/hejtoto.com/package-lock.json

# VSCode
.vscode/